.cart-container {
    background-color: #f0f0f0; /* gris clair */
    padding: 10px;
  }
  /* styles.css */

.white-text {
  color: white;
}

/* styles.css */

body {
  background-image: url('/magasin.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
