.cart-container {
    background-color: #f1ebeb; /* gris clair */
    padding: 10px;
  }
  /* styles.css */

.white-text {
  color: rgb(105, 33, 33);
}

/* styles.css */

/* body {
  background-image: url('/magasin.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
.app-container {
  background-image: url('../../public/arrerp.png'); /* ajuste le chemin selon ta structure de fichiers */
  background-size: cover;
  background-position: center;
}
