.cart-container {
    background-color: #f1ebeb; 
    padding: 10px;
  }
  

.white-text {
  color: rgb(105, 33, 33);
}



/* body {
  background-image: url('/magasin.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
.app-container {
  background-image: url('../../public/fdr.jpg'); 
  background-size: cover;
  background-position: center;
}
