.selected {
    background-color: #f0f0f0; 
  }
  .selected-item {
    background-color: #f0f0f0; 
  }
  
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
  }
  
  .product-list-container {
    width: 45%;
  }
  
 


.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  padding: 10px;
  background-color: #f0f0f0; 
}


.payment-form {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #f0f0f0; 
}

  
  .payment-form-container {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
  .cart-container {
    background-color: #f0f0f0; 
    padding: 10px;
  }
    

.payment-button-container {
  margin-top: 20px; 
  text-align: center; 
  width: 100%;
  max-width: 500px;

}
.white-text {
  color: rgb(238, 12, 12);
}

/* .navbar-expand {
  width: 50%;
} */
